<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile="C:\Users\Amare-PC\Documents\dotnetapi\ocra\ApiDemoTwo\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="C:\Users\Amare-PC\Documents\dotnetapi\ocra\ApiDemoTwo\${shortdate} logfile.txt"
				layout="${longdate} ${level:upercase=true} ${message}"/>

	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logFile"/>
	</rules>
</nlog>